<div class="container my-2">
  <div class="card shadow-sm">
    <div class="card-header">
      <h4 class="mb-0">Create New Coupon</h4>
    </div>
    <div class="card-body">
      <form [formGroup]="couponForm" (ngSubmit)="createCoupon()">
        <!-- Coupon Code -->
        <div class="mb-3">
          <label for="couponCode" class="form-label">Coupon Code</label>
          <input formControlName="couponCode" type="text" class="form-control shadow-sm" id="couponCode"
                 placeholder="Enter coupon code">
        </div>

        <!-- Discount Amount -->
        <div class="mb-3">
          <label for="couponAmount" class="form-label">Discount Amount</label>
          <input formControlName="discountAmount" type="number" class="form-control shadow-sm" id="couponAmount"
                 placeholder="Enter discount amount">
        </div>

        <!-- Expiry Date -->
        <div class="mb-3">
          <label for="couponExpiry" class="form-label">Expiry Date</label>
          <div class="input-group">
            <span class="input-group-text"><i class="bi bi-calendar"></i></span>
            <input formControlName="expiryDate" type="date" class="form-control shadow-sm" id="couponExpiry">
          </div>
        </div>

        <!-- Active Checkbox -->
        <div class="mb-4">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="couponActive">
            <label class="form-check-label" for="couponActive">Active</label>
          </div>
        </div>

        <div class="card shadow-sm">
          <div class="card-header">
            <h5 class="mb-0">Conditions</h5>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead>
                <tr>
                  <th scope="col">Attribute Type</th>
                  <th scope="col">Attribute</th>
                  <th scope="col">Operator</th>
                  <th scope="col">Value</th>
                  <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                  @for (condition of coupon.conditions; track idx; let idx = $index) {
                    <tr>
                      <td>
                        <select class="form-select">
                          <option selected>DATE</option>
                          <!-- Other options -->
                        </select>
                      </td>
                      <td>
                        <select class="form-select">
                          <option selected>Purchase Date</option>
                          <!-- Other options -->
                        </select>
                      </td>
                      <td>
                        <select class="form-select">
                          <option selected>BETWEEN</option>
                          <!-- Other options -->
                        </select>
                      </td>
                      <td>
                        <input type="text" class="form-control">
                      </td>
                      <td>
                        <button (click)="removeCondition(idx)" class="btn btn-danger">
                          <i class="fas fa-trash-alt"></i>
                        </button>
                      </td>
                    </tr>
                  }
                </tbody>
                <button (click)="addCondition()" type="button" class="btn btn-primary mt-3">
                  <i class="fa fa-plus-circle"></i> Add
                </button>
              </table>
            </div>
          </div>
        </div>

        <!-- Buttons -->
        <button type="submit" class="btn btn-primary mt-3">Create Coupon</button>
      </form>
    </div>
  </div>
</div>
