<div class="container my-2">
  <div class="card shadow-sm">
    <div class="card-header">
      <h4 class="mb-0">Update Coupon</h4>
    </div>
    <div class="card-body">
      <form [formGroup]="couponForm" (ngSubmit)="updateCoupon()">
        <!-- Coupon Code -->
        <div class="mb-3">
          <label for="couponCode" class="form-label">Coupon Code</label>
          <input formControlName="code" type="text" class="form-control shadow-sm" id="couponCode"
                 placeholder="Enter coupon code">
        </div>

        <!-- Discount Amount -->
        <div class="mb-3">
          <label for="couponAmount" class="form-label">Discount Amount</label>
          <input formControlName="discountPercentage" type="number" class="form-control shadow-sm" id="couponAmount"
                 placeholder="Enter discount amount">
        </div>

        <!-- Expiry Date -->
        <div class="mb-3">
          <label for="couponExpiry" class="form-label">Expiry Date</label>
          <div class="input-group">
            <span class="input-group-text"><i class="bi bi-calendar"></i></span>
            <input formControlName="expiryDate" type="date" class="form-control shadow-sm" id="couponExpiry">
          </div>
        </div>

        <!-- Active Checkbox -->
        <div class="mb-4">
          <div class="form-check">
            <input formControlName="active" class="form-check-input" type="checkbox" id="couponActive">
            <label class="form-check-label" for="couponActive">Active</label>
          </div>
        </div>

        <div class="card shadow-sm">
          <div class="card-header">
            <h5 class="mb-0">Conditions</h5>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead>
                <tr>
                  <th scope="col">Attribute</th>
                  <th scope="col">Operator</th>
                  <th scope="col">Value</th>
                  <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody formArrayName="conditions">
                <tr *ngFor="let condition of conditions.controls; let i = index" [formGroupName]="i">
                  <td>
                    <select formControlName="attribute" class="form-select">
                      @for (attribute of attributes;track $index) {
                        <option [value]="attribute.code">{{ attribute.name }}</option>
                      }
                    </select>
                  </td>
                  <td>
                    <select formControlName="operator" class="form-select">
                      @for (operator of operators;track $index) {
                        <option [value]="operator">{{ operator }}</option>
                      }
                    </select>
                  </td>
                  <td>
                    <input formControlName="value" type="text" class="form-control">
                  </td>
                  <td>
                    <button (click)="removeCondition(i)" class="btn btn-danger">
                      <i class="fas fa-trash-alt"></i>
                    </button>
                  </td>
                </tr>
                </tbody>
                <button (click)="addCondition()" type="button" class="btn btn-primary mt-3">
                  <i class="fa fa-plus-circle"></i> Add
                </button>
              </table>
            </div>
          </div>
        </div>

        <button type="submit" class="btn btn-primary mt-3">Update Coupon</button>
      </form>
    </div>
  </div>
</div>
